APP_DEBUG=false
ALLOWED_ORIGIN=

MIKROTIK_HOST=192.168.88.1
MIKROTIK_API_PORT=8728
MIKROTIK_API_USER=admin
MIKROTIK_API_PASS=04011997

HOTSPOT_SYNC_KEY=lQgFtB6JyUdb72wMorus7bOdLftDwYB0uh7QzsH2BGoe8UT4joCJcYJO380EYXUcQBQZms6bC0HyJUePbWo7SEbXi1vV7fUd64yo
HOTSPOT_COMMAND_POLL_LIMIT=10
HOTSPOT_COMMAND_PROCESSING_TIMEOUT=900

ADMIN_TOKEN=TXRXTHO0w35z723k8oBfREDhVeB589T0UGmgx3EhV4f2qClKoxRrBEoYsdjqKbOeZgUi3pIi5V3JIgBaGUdSeFIvrRc42POP1muZ
ADMIN_PASSWORD_HASH=$2y$10$cpjLBwhhSTbyfpGd9YVIau0IeQZfe2WYCtsBu2bnQjOTCv/X9POKK

SUPABASE_PGHOST=aws-1-eu-west-1.pooler.supabase.com
SUPABASE_PGPORT=6543
SUPABASE_PGDATABASE=postgres
SUPABASE_PGUSER=postgres.pqmmuaavceftkovzrhyg
SUPABASE_PGPASSWORD=Zj+Mkfa-Xjgku*4Dieu100%
